.heading{
    text-align: center;
    margin-top:5px;
} 
.heading1{
    text-align:center;
}
.align{
    position: relative;
    width:70vh;
    margin:0 auto;
    margin-bottom: 250px;
}
.error-message{
    color:red;
}
